body {
  font-family: League Spartan;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.75rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.6875rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.625rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #02550d !important;
}
.bg-success {
  background-color: #ff0a01 !important;
}
.bg-info {
  background-color: #fed243 !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #ff7f11 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #02550d !important;
  border-color: #02550d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #02550d;
}
.btn-primary:hover .mobi-mbri:after,
.btn-primary:focus .mobi-mbri:after,
.btn-primary.focus .mobi-mbri:after,
.btn-primary.active .mobi-mbri:after {
  display: block;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #02550d !important;
  border-color: #02550d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #02550d;
}
.btn-secondary:hover .mobi-mbri:after,
.btn-secondary:focus .mobi-mbri:after,
.btn-secondary.focus .mobi-mbri:after,
.btn-secondary.active .mobi-mbri:after {
  display: block;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #fed243 !important;
  border-color: #fed243 !important;
  color: #423200 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fed243;
}
.btn-info:hover .mobi-mbri:after,
.btn-info:focus .mobi-mbri:after,
.btn-info.focus .mobi-mbri:after,
.btn-info.active .mobi-mbri:after {
  display: block;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #423200 !important;
  background-color: #e9b301 !important;
  border-color: #e9b301 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ff0a01 !important;
  border-color: #ff0a01 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #ff0a01;
}
.btn-success:hover .mobi-mbri:after,
.btn-success:focus .mobi-mbri:after,
.btn-success.focus .mobi-mbri:after,
.btn-success.active .mobi-mbri:after {
  display: block;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a90600 !important;
  border-color: #a90600 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #000000;
}
.btn-warning:hover .mobi-mbri:after,
.btn-warning:focus .mobi-mbri:after,
.btn-warning.focus .mobi-mbri:after,
.btn-warning.active .mobi-mbri:after {
  display: block;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff7f11 !important;
  border-color: #ff7f11 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #ff7f11;
}
.btn-danger:hover .mobi-mbri:after,
.btn-danger:focus .mobi-mbri:after,
.btn-danger.focus .mobi-mbri:after,
.btn-danger.active .mobi-mbri:after {
  display: block;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b95600 !important;
  border-color: #b95600 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
  color: #e09e0d !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white:hover .mobi-mbri:after,
.btn-white:focus .mobi-mbri:after,
.btn-white.focus .mobi-mbri:after,
.btn-white.active .mobi-mbri:after {
  display: block;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #e09e0d !important;
  background-color: #f9dc9c !important;
  border-color: #f9dc9c !important;
}
.btn-black,
.btn-black:active {
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #1f1d1a;
}
.btn-black:hover .mobi-mbri:after,
.btn-black:focus .mobi-mbri:after,
.btn-black.focus .mobi-mbri:after,
.btn-black.active .mobi-mbri:after {
  display: block;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background-color: #fef9ee !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  border-color: transparent;
  color: #02550d;
}
.btn-primary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #02550d !important;
}
.btn-primary-outline:hover .mobi-mbri:after,
.btn-primary-outline:focus .mobi-mbri:after,
.btn-primary-outline.focus .mobi-mbri:after,
.btn-primary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #02550d !important;
  border-color: #02550d !important;
}
.btn-secondary-outline {
  background-color: #fef9ee !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  border-color: transparent;
  color: #02550d;
}
.btn-secondary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #02550d !important;
}
.btn-secondary-outline:hover .mobi-mbri:after,
.btn-secondary-outline:focus .mobi-mbri:after,
.btn-secondary-outline.focus .mobi-mbri:after,
.btn-secondary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #02550d !important;
  border-color: #02550d !important;
}
.btn-info-outline {
  background-color: #fef9ee !important;
}
.btn-info-outline,
.btn-info-outline:active {
  border-color: transparent;
  color: #fed243;
}
.btn-info-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #fed243 !important;
}
.btn-info-outline:hover .mobi-mbri:after,
.btn-info-outline:focus .mobi-mbri:after,
.btn-info-outline.focus .mobi-mbri:after,
.btn-info-outline.active .mobi-mbri:after {
  display: block;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #423200 !important;
  background-color: #fed243 !important;
  border-color: #fed243 !important;
}
.btn-success-outline {
  background-color: #fef9ee !important;
}
.btn-success-outline,
.btn-success-outline:active {
  border-color: transparent;
  color: #ff0a01;
}
.btn-success-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ff0a01 !important;
}
.btn-success-outline:hover .mobi-mbri:after,
.btn-success-outline:focus .mobi-mbri:after,
.btn-success-outline.focus .mobi-mbri:after,
.btn-success-outline.active .mobi-mbri:after {
  display: block;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0a01 !important;
  border-color: #ff0a01 !important;
}
.btn-warning-outline {
  background-color: #fef9ee !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  border-color: transparent;
  color: #000000;
}
.btn-warning-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
}
.btn-warning-outline:hover .mobi-mbri:after,
.btn-warning-outline:focus .mobi-mbri:after,
.btn-warning-outline.focus .mobi-mbri:after,
.btn-warning-outline.active .mobi-mbri:after {
  display: block;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline {
  background-color: #fef9ee !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  border-color: transparent;
  color: #ff7f11;
}
.btn-danger-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff7f11 !important;
}
.btn-danger-outline:hover .mobi-mbri:after,
.btn-danger-outline:focus .mobi-mbri:after,
.btn-danger-outline.focus .mobi-mbri:after,
.btn-danger-outline.active .mobi-mbri:after {
  display: block;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7f11 !important;
  border-color: #ff7f11 !important;
}
.btn-black-outline {
  background-color: #fef9ee !important;
}
.btn-black-outline,
.btn-black-outline:active {
  border-color: transparent;
  color: #1f1d1a;
}
.btn-black-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #1f1d1a !important;
}
.btn-black-outline:hover .mobi-mbri:after,
.btn-black-outline:focus .mobi-mbri:after,
.btn-black-outline.focus .mobi-mbri:after,
.btn-black-outline.active .mobi-mbri:after {
  display: block;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
}
.btn-white-outline {
  background-color: #fef9ee !important;
}
.btn-white-outline,
.btn-white-outline:active {
  border-color: transparent;
  color: #fef9ee;
}
.btn-white-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fef9ee !important;
}
.btn-white-outline:hover .mobi-mbri:after,
.btn-white-outline:focus .mobi-mbri:after,
.btn-white-outline.focus .mobi-mbri:after,
.btn-white-outline.active .mobi-mbri:after {
  display: block;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #e09e0d !important;
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
}
.text-primary {
  color: #02550d !important;
}
.text-secondary {
  color: #02550d !important;
}
.text-success {
  color: #ff0a01 !important;
}
.text-info {
  color: #fed243 !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #ff7f11 !important;
}
.text-white {
  color: #FEF9EE !important;
}
.text-black {
  color: #1F1D1A !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #02550d;
}
.nav-tabs .nav-link:not(.active) {
  color: #1F1D1A;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fed243;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #ff7f11;
}
.mbr-gallery-filter li.active .btn {
  background-color: #02550d;
  border-color: #02550d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #02550d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #42fb5a;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffcfcd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffeddd;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #02550d !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #02550d;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #02550d;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #02550d;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #02550d;
  border-bottom-color: #02550d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #02550d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #02550d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2302550d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .2s;
}
a:hover {
  background-image: none !important;
  text-decoration-line: underline;
}
.container {
  max-width: 1322px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container-fluid {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  margin-left: -40px;
  margin-right: -40px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .row {
    margin-left: -32px;
    margin-right: -32px;
  }
  .row > [class*="col"] {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .row {
    margin-left: -24px;
    margin-right: -24px;
  }
  .row > [class*="col"] {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .row > [class*="col"] {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  justify-content: center;
}
.mbr-section-btn .btn {
  min-width: 100px;
  min-height: 40px;
  padding: 9px 24px;
  line-height: 1.55;
  font-weight: 500;
  transition-duration: .2s;
  border-radius: 9999px;
  text-underline-offset: 4px;
  box-shadow: none !important;
  border: none !important;
  overflow: hidden;
}
.mbr-section-btn .btn .mobi-mbri {
  position: relative;
}
.mbr-section-btn .btn:hover {
  text-decoration-line: underline;
}
.mbr-section-btn .btn-white-outline {
  background-color: transparent !important;
}
.mbr-section-btn .btn-white-outline:hover {
  text-decoration-line: none !important;
}
.mbr-section-btn .btn-white-outline .mobi-mbri:after {
  display: none !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
section {
  overflow: hidden;
}
b {
  font-weight: 600 !important;
}
.cid-tDBNKeTkuK {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK {
    min-height: 105px;
  }
}
.cid-tDBNKeTkuK nav.navbar {
  position: fixed;
}
.cid-tDBNKeTkuK .container {
  max-width: 1312px;
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .container {
    flex-wrap: nowrap;
  }
}
.cid-tDBNKeTkuK .container-custom {
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.cid-tDBNKeTkuK .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tDBNKeTkuK .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tDBNKeTkuK .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tDBNKeTkuK .dropdown-item:hover,
.cid-tDBNKeTkuK .dropdown-item:focus {
  background: #02550d !important;
  color: white !important;
}
.cid-tDBNKeTkuK .dropdown-item:hover span {
  color: white;
}
.cid-tDBNKeTkuK .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tDBNKeTkuK .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tDBNKeTkuK .nav-dropdown .link {
  padding: 0.75em 1em !important;
}
.cid-tDBNKeTkuK .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tDBNKeTkuK .nav-link {
  position: relative;
}
.cid-tDBNKeTkuK .iconfont-wrapper {
  color: #002549 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tDBNKeTkuK .dropdown-menu,
.cid-tDBNKeTkuK .navbar.opened {
  background: #02550d !important;
}
.cid-tDBNKeTkuK .nav-item:focus,
.cid-tDBNKeTkuK .nav-link:focus {
  outline: none;
}
.cid-tDBNKeTkuK .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tDBNKeTkuK .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tDBNKeTkuK .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tDBNKeTkuK .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tDBNKeTkuK .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tDBNKeTkuK .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tDBNKeTkuK .navbar {
  min-height: 60px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #02550d;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar {
    min-height: 105px;
  }
}
.cid-tDBNKeTkuK .navbar.opened {
  transition: all 0.3s;
}
.cid-tDBNKeTkuK .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tDBNKeTkuK .navbar .navbar-logo img {
  width: auto;
}
.cid-tDBNKeTkuK .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar .navbar-collapse {
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar .navbar-nav-container {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.cid-tDBNKeTkuK .navbar.collapsed {
  justify-content: center;
}
.cid-tDBNKeTkuK .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tDBNKeTkuK .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.4rem);
  }
}
.cid-tDBNKeTkuK .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tDBNKeTkuK .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tDBNKeTkuK .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tDBNKeTkuK .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tDBNKeTkuK .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tDBNKeTkuK .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tDBNKeTkuK .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tDBNKeTkuK .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tDBNKeTkuK .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tDBNKeTkuK .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tDBNKeTkuK .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tDBNKeTkuK .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tDBNKeTkuK .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tDBNKeTkuK .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tDBNKeTkuK .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tDBNKeTkuK .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tDBNKeTkuK .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tDBNKeTkuK .navbar.navbar-short {
  min-height: 60px;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar.navbar-short {
    min-height: 105px;
  }
}
.cid-tDBNKeTkuK .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tDBNKeTkuK .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tDBNKeTkuK .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    min-height: 100%;
    z-index: 5;
  }
}
.cid-tDBNKeTkuK .navbar-brand .navbar-caption {
  line-height: inherit !important;
  display: flex;
  flex-wrap: nowrap;
  color: #002549;
}
.cid-tDBNKeTkuK .navbar-brand .navbar-caption span {
  line-height: inherit !important;
  font-weight: inherit !important;
  color: #02550d;
}
.cid-tDBNKeTkuK .navbar-brand .navbar-caption:hover {
  color: #02550d;
}
.cid-tDBNKeTkuK .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tDBNKeTkuK .dropdown-item.active,
.cid-tDBNKeTkuK .dropdown-item:active {
  background-color: transparent;
}
.cid-tDBNKeTkuK .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tDBNKeTkuK .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tDBNKeTkuK .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tDBNKeTkuK .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #02550d;
}
.cid-tDBNKeTkuK .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tDBNKeTkuK .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tDBNKeTkuK ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tDBNKeTkuK .navbar-buttons {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar-buttons {
    width: 40%;
    text-align: right;
  }
}
.cid-tDBNKeTkuK .navbar-buttons .btn {
  min-width: 144px;
  font-weight: 400;
}
.cid-tDBNKeTkuK button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tDBNKeTkuK button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ff0a01;
}
.cid-tDBNKeTkuK button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tDBNKeTkuK button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tDBNKeTkuK button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tDBNKeTkuK button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tDBNKeTkuK nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tDBNKeTkuK nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tDBNKeTkuK nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tDBNKeTkuK nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tDBNKeTkuK .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tDBNKeTkuK a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #002549;
}
.cid-tDBNKeTkuK .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tDBNKeTkuK .navbar {
    height: 60px;
  }
  .cid-tDBNKeTkuK .navbar.opened {
    height: auto;
  }
  .cid-tDBNKeTkuK .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 992px), (-ms-high-contrast: none) and (min-width: 992px) {
  .cid-tDBNKeTkuK .navbar {
    min-height: 105px;
  }
}
.cid-tDt5kzqugQ {
  background-image: url("../../../assets/images/handloom.webp");
  display: flex;
  align-items: center;
}
.cid-tDt5kzqugQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDt5kzqugQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDt5kzqugQ .row {
  justify-content: flex-start;
}
.cid-tDt5kzqugQ .mbr-section-title {
  color: #FEF9EE;
  text-align: left;
}
.cid-tDt5kzqugQ .mbr-section-subtitle {
  color: #FEF9EE;
}
.cid-tDt5kzqugQ .mbr-text {
  color: #FEF9EE;
}
.cid-tDt5kzqugQ .mbr-text,
.cid-tDt5kzqugQ .mbr-section-btn {
  text-align: left;
}
.cid-tDCjvvtMHA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
  position: relative;
  margin-top: -1px;
  overflow: hidden;
}
.cid-tDCjvvtMHA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDCjvvtMHA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDCjvvtMHA .section-border-item {
  background-color: #fcdb42;
}
@media (max-width: 991px) {
  .cid-tDCjvvtMHA .section-border-item_center {
    display: none;
  }
}
.cid-tDCjvvtMHA .main-container {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
@media (max-width: 991px) {
  .cid-tDCjvvtMHA .main-container {
    flex-wrap: wrap;
  }
}
.cid-tDCjvvtMHA .card-wrap {
  width: 50%;
}
@media (max-width: 991px) {
  .cid-tDCjvvtMHA .card-wrap {
    width: 100%;
  }
}
.cid-tDCjvvtMHA .card-box {
  width: 100%;
  padding-right: 10vw;
}
@media (max-width: 991px) {
  .cid-tDCjvvtMHA .card-box {
    max-width: 32rem;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tDCjvvtMHA .card-box {
    max-width: 100%;
  }
}
.cid-tDCjvvtMHA .card-title {
  color: #000000;
}
.cid-tDCjvvtMHA .mbr-text {
  color: #FFF;
  margin-top: 1.5rem;
}
@media (max-width: 767px) {
  .cid-tDCjvvtMHA .mbr-text {
    margin-top: 1.25rem;
  }
}
.cid-tDCjvvtMHA .counter-container {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .cid-tDCjvvtMHA .counter-container {
    margin-top: 1.5rem;
  }
}
.cid-tDCjvvtMHA .list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 8px 0;
}
.cid-tDCjvvtMHA .list-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.cid-tDCjvvtMHA .iconfont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #ff0a01;
}
.cid-tDCjvvtMHA .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 12px;
  color: #ffffff;
}
.cid-tDCjvvtMHA .list-text {
  color: #000000;
  flex-grow: 1;
}
.cid-tDCjvvtMHA .mbr-section-btn {
  margin-top: 1.5rem;
}
@media (max-width: 767px) {
  .cid-tDCjvvtMHA .mbr-section-btn {
    margin-top: 1rem;
  }
}
.cid-tDCjvvtMHA .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-left: 2.5rem;
}
@media (max-width: 991px) {
  .cid-tDCjvvtMHA .image-wrapper {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 3rem;
  }
  .cid-tDCjvvtMHA .image-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: #fcdb42;
  }
}
.cid-tDCjvvtMHA .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 38rem;
}
.cid-tDCjvvtMHA .img-box img {
  width: 100%;
  object-fit: cover;
}
.cid-tDt5sgHudY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #bae3c8;
  position: relative;
  overflow: hidden;
}
.cid-tDt5sgHudY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDt5sgHudY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDt5sgHudY .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tDt5sgHudY .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tDt5sgHudY .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tDt5sgHudY .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tDt5sgHudY .card-wrapper {
  width: 100%;
}
.cid-tDt5sgHudY .card-box {
  width: 100%;
}
.cid-tDt5sgHudY .card-title {
  color: #26382B;
  margin-bottom: 0;
}
.cid-tDt5sgHudY .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tDt5sgHudY .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tDt5sgHudY .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tDt5sgHudY .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tDt5sgHudY .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tDt5sgHudY .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tDt5sgHudY .bg-img {
  position: absolute;
  width: 100%;
  background-color: #44af69;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tDt5sgHudY .bg-img {
    width: 150%;
  }
}
.cid-tDt5ru3PvE {
  padding-top: 6rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #000000;
}
.cid-tDt5ru3PvE .row {
  justify-content: center;
}
.cid-tDt5ru3PvE .col-title {
  margin-bottom: 2.5rem;
}
.cid-tDt5ru3PvE .mbr-section-title {
  color: #44af69;
}
.cid-tDt5ru3PvE .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1.5rem;
}
.cid-tDt5ru3PvE .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tDt5ru3PvE .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-tDt5ru3PvE .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tDt5ru3PvE .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  min-height: 400px;
}
@media (max-width: 639px) {
  .cid-tDt5ru3PvE .card {
    min-height: 276px;
  }
}
.cid-tDt5ru3PvE .card-1 {
  background-color: #02550d;
}
.cid-tDt5ru3PvE .card-2 {
  background-color: #44af69;
}
.cid-tDt5ru3PvE .card-3 {
  background-color: #44af69;
}
.cid-tDt5ru3PvE .card-4 {
  background-color: #44af69;
}
.cid-tDt5ru3PvE .card-5 {
  background-color: #44af69;
}
.cid-tDt5ru3PvE .card-6 {
  background-color: #44af69;
}
.cid-tDt5ru3PvE .card:hover .card-img-bg img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-tDt5ru3PvE .card:hover .card-title {
  text-decoration: underline;
}
.cid-tDt5ru3PvE .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}
.cid-tDt5ru3PvE .card-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  border-top-right-radius: 100px;
  overflow: hidden;
}
.cid-tDt5ru3PvE .card-img-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: .3s;
}
.cid-tDt5ru3PvE .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 96px 16px 24px;
  position: relative;
  z-index: 5;
}
.cid-tDt5ru3PvE .card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #000000);
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 1);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.cid-tDt5ru3PvE .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #FCF0D5;
  position: relative;
  z-index: 11;
}
.cid-tDt5ru3PvE .card-text {
  width: 100%;
  color: #FCF0D5;
  margin-top: 0.25rem;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
}
.cid-tDt5ru3PvE .card-title-1 {
  text-align: center;
}
.cid-tDte8DuLQW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tDte8DuLQW .title .num {
  width: 100%;
  display: block;
  padding-bottom: 1rem;
}
.cid-tDte8DuLQW .title .card-title {
  z-index: 1;
}
.cid-tDte8DuLQW .num {
  color: #000000;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tDte8DuLQW * {
    text-align: center !important;
  }
  .cid-tDte8DuLQW .content-column {
    margin-bottom: 2rem;
  }
}
.cid-tDte8DuLQW .card-title,
.cid-tDte8DuLQW .card-img DIV {
  text-align: center;
}
.cid-tDte8DuLQW .card-title,
.cid-tDte8DuLQW .card-img {
  color: #353535;
}
.cid-tDte8DuLQW .mbr-section-title,
.cid-tDte8DuLQW .card-box {
  text-align: center;
}
.cid-tDte8DuLQW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDte8DuLQW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDBLtiaDAu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tDBLtiaDAu iframe,
.cid-tDBLtiaDAu img,
.cid-tDBLtiaDAu video {
  width: 100%;
}
.cid-tDBLtiaDAu .mbr-section-head {
  margin-bottom: 67px;
}
@media (max-width: 767px) {
  .cid-tDBLtiaDAu .mbr-section-head {
    margin-bottom: 32px;
  }
}
.cid-tDBLtiaDAu .mbr-section-title {
  color: #161616;
}
.cid-tDBLtiaDAu .mbr-section-subtitle {
  color: #161616;
  margin-top: 32px;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tDBLtiaDAu .mbr-section-subtitle {
    margin-top: 16px;
  }
}
.cid-tDBLtiaDAu .mbr-media {
  position: relative;
}
.cid-tDBLtiaDAu .mbr-media img {
  width: 100%;
  object-fit: cover;
  max-height: 100vh;
}
.cid-tDBLtiaDAu .icon-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.cid-tDBLtiaDAu .icon-wrap .mbr-iconfont {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 70px;
}
.cid-tDBLtiaDAu .mbr-media span {
  font-size: 4rem;
  transition: all 0.2s;
}
.cid-tDBLtiaDAu .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tDBLtiaDAu .modalWindow {
    width: 100vw;
    height: 100vh;
  }
}
.cid-tDBLtiaDAu .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-tDBLtiaDAu .modalWindow .modalWindow-video {
  height: 100%;
  width: 80vw;
  margin: 0 auto;
}
.cid-tDBLtiaDAu .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tDBLtiaDAu .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tDvS93KEc3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tDvS93KEc3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDvS93KEc3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDvS93KEc3 .mbr-section-head {
  width: 100%;
  margin-bottom: 30px;
}
.cid-tDvS93KEc3 .mbr-section-title {
  color: #ff0a01;
  margin-bottom: 0;
}
.cid-tDvS93KEc3 .mbr-section-subtitle {
  color: #303030;
  margin-top: 16px;
}
@media (max-width: 991px) {
  .cid-tDvS93KEc3 .col-text {
    margin-bottom: 50px;
  }
}
.cid-tDvS93KEc3 .mbr-text {
  color: #303030;
  margin-bottom: 35px;
}
.cid-tDvS93KEc3 .items-wrap {
  display: flex;
  align-items: flex-start;
  column-gap: 50px;
}
@media (max-width: 575px) {
  .cid-tDvS93KEc3 .items-wrap {
    flex-wrap: wrap;
    row-gap: 27px;
  }
}
.cid-tDvS93KEc3 .item-wrap {
  width: calc(50% - 25px);
}
@media (max-width: 575px) {
  .cid-tDvS93KEc3 .item-wrap {
    width: 100%;
  }
}
.cid-tDvS93KEc3 .item-title {
  color: #303030;
  margin-bottom: 18px;
}
.cid-tDvS93KEc3 .list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  color: #303030;
  text-align: left;
}
.cid-tDvS93KEc3 .item-text {
  margin-bottom: 6px;
}
.cid-tDvS93KEc3 .form-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
.cid-tDvS93KEc3 form {
  width: 100%;
}
.cid-tDvS93KEc3 form .dragArea.row {
  justify-content: flex-start;
  width: auto !important;
  z-index: 2;
}
.cid-tDvS93KEc3 form p {
  color: #353535;
}
.cid-tDvS93KEc3 form .form-group {
  margin-top: 0 !important;
  margin-bottom: 18px !important;
}
.cid-tDvS93KEc3 form .form-control {
  height: 44px;
  border: none !important;
  border-bottom: 2px solid #303030 !important;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-bottom: 0;
  padding: 5px 0;
  font-size: 19px;
  line-height: 28px;
  color: #303030;
  font-weight: 400;
  transition: .3s;
}
.cid-tDvS93KEc3 form .form-control::-webkit-input-placeholder {
  color: #303030;
}
.cid-tDvS93KEc3 form .form-control::-moz-placeholder {
  color: #303030;
}
.cid-tDvS93KEc3 form .form-control:-moz-placeholder {
  color: #303030;
}
.cid-tDvS93KEc3 form .form-control:-ms-input-placeholder {
  color: #303030;
}
.cid-tDvS93KEc3 form select {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form textarea {
  height: 140px !important;
  min-height: 140px !important;
  padding: 5px 0;
  resize: none;
}
.cid-tDvS93KEc3 form textarea::-webkit-input-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form textarea::-moz-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form textarea:-moz-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form textarea:-ms-input-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form input,
.cid-tDvS93KEc3 form textarea {
  transition: .3s all;
}
.cid-tDvS93KEc3 form input:active,
.cid-tDvS93KEc3 form textarea:active,
.cid-tDvS93KEc3 form input:focus,
.cid-tDvS93KEc3 form textarea:focus {
  background-color: transparent !important;
  border-color: #303030 !important;
  outline: none !important;
}
.cid-tDvS93KEc3 form input:active::-webkit-input-placeholder,
.cid-tDvS93KEc3 form textarea:active::-webkit-input-placeholder,
.cid-tDvS93KEc3 form input:focus::-webkit-input-placeholder,
.cid-tDvS93KEc3 form textarea:focus::-webkit-input-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form input:active::-moz-placeholder,
.cid-tDvS93KEc3 form textarea:active::-moz-placeholder,
.cid-tDvS93KEc3 form input:focus::-moz-placeholder,
.cid-tDvS93KEc3 form textarea:focus::-moz-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form input:active:-moz-placeholder,
.cid-tDvS93KEc3 form textarea:active:-moz-placeholder,
.cid-tDvS93KEc3 form input:focus:-moz-placeholder,
.cid-tDvS93KEc3 form textarea:focus:-moz-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form input:active:-ms-input-placeholder,
.cid-tDvS93KEc3 form textarea:active:-ms-input-placeholder,
.cid-tDvS93KEc3 form input:focus:-ms-input-placeholder,
.cid-tDvS93KEc3 form textarea:focus:-ms-input-placeholder {
  color: #303030 !important;
}
.cid-tDvS93KEc3 form .row {
  flex-wrap: wrap;
  margin-left: -8px !important;
  margin-right: -8px !important;
}
.cid-tDvS93KEc3 form .row [class*=col] {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.cid-tDvS93KEc3 form label {
  width: 100%;
  color: #303030;
  margin-bottom: 6px;
}
.cid-tDvS93KEc3 form .form-check label {
  color: #303030;
}
.cid-tDvS93KEc3 form .form-check-input {
  border-color: #303030 !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-tDvS93KEc3 form .form-check-input:focus,
.cid-tDvS93KEc3 form .form-check-input:hover {
  background-color: #303030 !important;
  border-color: #303030 !important;
}
.cid-tDvS93KEc3 form .form-check-input:checked {
  border-color: #303030 !important;
  background-color: #303030 !important;
}
.cid-tDt5ugBDNQ {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #bae3c8;
}
.cid-tDt5ugBDNQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDt5ugBDNQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDt5ugBDNQ .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tDt5ugBDNQ .content-container {
    flex-wrap: wrap;
  }
}
.cid-tDt5ugBDNQ .col-text {
  max-width: 700px;
  width: 100%;
  padding-top: 12px;
  margin-left: 2.5rem;
}
@media (max-width: 991px) {
  .cid-tDt5ugBDNQ .col-text {
    max-width: 500px;
    margin-left: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tDt5ugBDNQ .col-text {
    width: 100%;
    max-width: 100%;
    margin: 1.5rem 0 0 !important;
  }
}
.cid-tDt5ugBDNQ .card-wrapper {
  width: 100%;
}
.cid-tDt5ugBDNQ .card-box {
  width: 100%;
}
.cid-tDt5ugBDNQ .card-title {
  color: #44af69;
  margin-bottom: 4px;
  width: 100%;
}
.cid-tDt5ugBDNQ .card-subtitle {
  color: #1F1D1A;
  margin-bottom: 0;
  opacity: 0.8;
  width: 100%;
}
.cid-tDt5ugBDNQ .mbr-text {
  color: #1F1D1A;
  margin-bottom: 24px;
  width: 100%;
}
.cid-tDt5ugBDNQ .col-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tDt5ugBDNQ .col-img {
    width: 100%;
  }
}
.cid-tDt5ugBDNQ .image-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  width: 250px;
  aspect-ratio: 1;
}
@media (max-width: 991px) {
  .cid-tDt5ugBDNQ .image-wrapper {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .cid-tDt5ugBDNQ .image-wrapper {
    width: 250px;
  }
}
.cid-tDt5ugBDNQ .image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.cid-tDt5ugBDNQ .iconfont-wrapper {
  position: relative;
  z-index: 11;
  padding: 8px;
}
.cid-tDt5ugBDNQ .mbr-iconfont {
  font-size: 48px;
  color: #44af69;
}
.cid-tDt5vdFVFG {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #bae3c8;
}
.cid-tDt5vdFVFG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDt5vdFVFG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDt5vdFVFG .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .cid-tDt5vdFVFG .content-container {
    flex-wrap: wrap;
  }
}
.cid-tDt5vdFVFG .col-text {
  max-width: 700px;
  width: 100%;
  padding-top: 12px;
  margin-right: 2.5rem;
}
@media (max-width: 991px) {
  .cid-tDt5vdFVFG .col-text {
    max-width: 500px;
    margin-right: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tDt5vdFVFG .col-text {
    width: 100%;
    max-width: 100%;
    margin: 1.5rem 0 0 !important;
  }
}
.cid-tDt5vdFVFG .card-wrapper {
  width: 100%;
}
.cid-tDt5vdFVFG .card-box {
  width: 100%;
}
.cid-tDt5vdFVFG .card-title {
  color: #44af69;
  margin-bottom: 4px;
  width: 100%;
}
.cid-tDt5vdFVFG .card-subtitle {
  color: #1F1D1A;
  margin-bottom: 0;
  opacity: 0.8;
  width: 100%;
}
.cid-tDt5vdFVFG .mbr-text {
  color: #1F1D1A;
  margin-bottom: 24px;
  width: 100%;
}
.cid-tDt5vdFVFG .col-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tDt5vdFVFG .col-img {
    width: 100%;
  }
}
.cid-tDt5vdFVFG .image-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  width: 250px;
  aspect-ratio: 1;
}
@media (max-width: 991px) {
  .cid-tDt5vdFVFG .image-wrapper {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .cid-tDt5vdFVFG .image-wrapper {
    width: 250px;
  }
}
.cid-tDt5vdFVFG .image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.cid-tDt5vdFVFG .iconfont-wrapper {
  position: relative;
  z-index: 11;
  padding: 8px;
}
.cid-tDt5vdFVFG .mbr-iconfont {
  font-size: 48px;
  color: #44af69;
}
.cid-tDt5wyIG14 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #bae3c8;
}
.cid-tDt5wyIG14 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDt5wyIG14 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDt5wyIG14 .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tDt5wyIG14 .content-container {
    flex-wrap: wrap;
  }
}
.cid-tDt5wyIG14 .col-text {
  max-width: 700px;
  width: 100%;
  padding-top: 12px;
  margin-left: 2.5rem;
}
@media (max-width: 991px) {
  .cid-tDt5wyIG14 .col-text {
    max-width: 500px;
    margin-left: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tDt5wyIG14 .col-text {
    width: 100%;
    max-width: 100%;
    margin: 1.5rem 0 0 !important;
  }
}
.cid-tDt5wyIG14 .card-wrapper {
  width: 100%;
}
.cid-tDt5wyIG14 .card-box {
  width: 100%;
}
.cid-tDt5wyIG14 .card-title {
  color: #44af69;
  margin-bottom: 4px;
  width: 100%;
}
.cid-tDt5wyIG14 .card-subtitle {
  color: #1F1D1A;
  margin-bottom: 0;
  opacity: 0.8;
  width: 100%;
}
.cid-tDt5wyIG14 .mbr-text {
  color: #1F1D1A;
  margin-bottom: 24px;
  width: 100%;
}
.cid-tDt5wyIG14 .col-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tDt5wyIG14 .col-img {
    width: 100%;
  }
}
.cid-tDt5wyIG14 .image-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  width: 250px;
  aspect-ratio: 1;
}
@media (max-width: 991px) {
  .cid-tDt5wyIG14 .image-wrapper {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .cid-tDt5wyIG14 .image-wrapper {
    width: 250px;
  }
}
.cid-tDt5wyIG14 .image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.cid-tDt5wyIG14 .iconfont-wrapper {
  position: relative;
  z-index: 11;
  padding: 8px;
}
.cid-tDt5wyIG14 .mbr-iconfont {
  font-size: 48px;
  color: #44af69;
}
.cid-tDv6fIuftU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #02550d;
}
.cid-tDv6fIuftU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDv6fIuftU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDv6fIuftU .col-title {
  position: relative;
  z-index: 10;
  margin-bottom: 2.5rem;
}
.cid-tDv6fIuftU .mbr-section-title {
  color: #ffffff;
}
.cid-tDv6fIuftU .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-tDv6fIuftU .panel-group {
  border: none;
  padding: 0 !important;
  background-color: #ffffff;
}
.cid-tDv6fIuftU .card {
  padding: 0 !important;
  border-radius: 0 !important;
}
.cid-tDv6fIuftU .card:not(:first-child) {
  border-top: 1px solid #bbbbbb;
}
.cid-tDv6fIuftU .mbr-iconfont {
  font-size: 10px !important;
  font-family: 'Moririse2' !important;
  color: #ffffff;
  margin-left: 1rem;
  padding: 17px;
  background-color: #02550d;
  transition: all ease-in-out 0.3s;
  border-radius: 50%;
}
.cid-tDv6fIuftU .card-header {
  border-bottom: none !important;
  padding: 0 !important;
}
.cid-tDv6fIuftU .card-header .panel-title[aria-expanded="true"] .mbr-iconfont {
  transform: rotate(-180deg);
}
.cid-tDv6fIuftU .panel-title {
  padding: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .cid-tDv6fIuftU .panel-title {
    padding: 20px !important;
  }
}
.cid-tDv6fIuftU .panel-title:hover {
  text-decoration-line: none !important;
}
.cid-tDv6fIuftU .panel-title:hover .panel-title-edit {
  text-decoration: underline !important;
}
.cid-tDv6fIuftU .panel-body {
  padding: 0 2rem 2rem 2rem;
  width: 100%;
  max-width: 720px;
}
@media (max-width: 767px) {
  .cid-tDv6fIuftU .panel-body {
    padding: 0 20px 20px 20px;
  }
}
.cid-tDv6fIuftU .panel-text {
  margin-bottom: 16px;
  color: #353535;
}
.cid-tDv6fIuftU .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tDv6fIuftU .panel-title-edit {
  color: #1F1D1A;
  padding-right: 12px;
}
.cid-t9FMuXVyk3 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ff0a01;
  overflow: hidden;
}
.cid-t9FMuXVyk3 .mbr-text {
  color: #FEF9EE;
}
